.App {
    
    @include xl {
        max-width: 1200px;
        margin: 0 auto;
    }

    .message-cont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}