.message-projects {
    margin-top: 35px !important;
    
    @include md {
        text-align: center;
    }

    .icon-projects {
        
        @include md {
            margin-left: 240px;
            margin-right: 0px !important;
        }
    }

    .header-projects {
        
        @include md {
            width: 50%;
        }
    }
}

.project-container {
    img {
        width: 100%;
    }
}