.linked {
    color: #0e76a8 !important;
    text-decoration: none !important;
}

.divider3 {
    width: 220px;
    margin: 1rem auto !important
}

.burger {
    color: #d52349d9 ;
    position: absolute;
    left: 0px;
    top: 10px;

    @include md {
        font-size: 3em !important;
        left: 10px;
    }

    @include lg {
        display: none !important;
    }
}

.burger-container {

    @include md {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }
}

.name {
    font-size: 3rem !important;
    text-align: center;
}

.job-title {
    text-align: center;
    color: #d52349d9 !important;
    font-style: italic;
    font-size: 2rem !important;
}

.social {
    text-align: center;
    display: block !important;
}

section {
   
    @include lg {
        display: flex !important;
        justify-content: center;
        margin-top: 70px;
    }

    img {

        @include lg {
        margin-left: 0px !important;
        margin-right: 0px !important;
        }
    }
}

.desktop-menu {

    display: none !important;
    
    @include lg {
        justify-content: center;
        display: flex !important;
    }
}