.linked {
    color: #0e76a8;
}

.divider3 {
    width: 80%;
    margin: 1rem auto !important
}

.burger {
    color: red;
    position: absolute;
    left: 0px;
    top: 10px;
}

.name {
    font-size: 3rem !important;
    text-align: center;
}

.social {
    text-align: center;
    display: block !important;
}