.message-why {
    margin-top: 35px !important;
    
    .icon-why {

        margin-right: 40px !important;
    }

    .header-why {

        font-size: 2.5rem !important;
        line-height: 1.2;
    }
}

.why-title {
    margin-bottom: 15px;
}

.why-des {
    line-height: 25px;
}

.group-why {

    @include md {
        flex-direction: column !important;
        width: 95% !important;
        margin: 0 auto !important;
    }

    @include lg {
        flex-direction: row !important;
        width: 34% !important;
        margin: 0px 0px !important;
        height: 500px;
    }

    @include xl {
        max-width: 402px;
    }

    .battery {

        @include lg {
            padding-bottom: 50px !important;
        }
    }

    .plane-why {

        @include lg {
            padding-top: 100px !important;
        }
    }
    
    .step-why {

        @include md {
            width: 100% !important;
        }

        @include lg {
            flex-direction: column !important;
            justify-content: space-evenly;
        }

        .icon-why-group {

            @include md {
                margin-right: 20px !important;
            }

            @include lg {
                margin-bottom: 20px !important;
            }
        }

        .file {

            @include md {
                margin-right: 40px !important;
            }

            @include lg {
                margin-right: 0px !important;
                margin-bottom: 20px !important;
            }
        }

        .why-content {
            @include lg {
                text-align: center;
            }
        }
    }
}

