.message-why {
    margin-top: 35px !important;
    
    @include md {
        text-align: center;
    }
    @include sm {
        text-align: center;
    }
    
    .icon-why {

        margin-left: 20px;
        
        @include sm {
            margin-left: 50px;
            margin-right: 0px !important;
        }

        @include md {
            margin-left: 140px;
            margin-right: 0px !important;
        }

        @include lg {
            margin-left: 260px;
            margin-right: 0px !important;
        }

        @include xl {
            margin-left: 300px;
            margin-right: 0px !important;
        }
    }

    // .message-content {

    //     @include xl {
    //         color: red;
    //     }
    // }

    .header-why {
        
        @include sm {
            width: 90%;
        }

        @include md {
            width: 80%;
        }

        @include lg {
            width: 65%;
        }

        @include xl {
            width: 60%;
        }
    }
}

.why-title {
    margin-bottom: 15px;
}

.why-des {
    line-height: 25px;
}

.group-why {

    @include md {
        flex-direction: column !important;
        width: 95% !important;
        margin: 0 auto !important;
    }

    @include lg {
        flex-direction: row !important;
        width: 34% !important;
        margin: 0px 0px !important;
        height: 500px;
    }

    @include xl {
        max-width: 402px;
    }

    .battery {

        @include lg {
            padding-bottom: 50px !important;
        }
    }

    .plane-why {

        @include lg {
            padding-top: 100px !important;
        }
    }
    
    .step-why {

        @include md {
            width: 100% !important;
        }

        @include lg {
            flex-direction: column !important;
            justify-content: space-evenly;
        }

        .icon-why-group {

            @include md {
                margin-right: 20px !important;
            }

            @include lg {
                margin-bottom: 20px !important;
            }
        }

        .file {

            @include md {
                margin-right: 40px !important;
            }

            @include lg {
                margin-right: 0px !important;
                margin-bottom: 20px !important;
            }
        }

        .why-content {
            @include lg {
                text-align: center;
            }
        }
    }
}

